[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0"
gunicorn = "*"
dj-database-url = "*"
python-decouple = "*"
django-on-heroku = "*"
django-bootstrap4 = "*"
django-crispy-forms = "*"
pillow = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
