{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row align-items-center">
      {% for post in all_posts_lists %}
      <div class="col-lg-3">

<div class="card-body">
  <img src="{{ post.image.url}}" width = 400 height=400 alt="#" class="img-circle"><br><br>
  <p> {{ post.author.username }}</p>
  <p><em>{{ post.created}}</em><br></p>
  <a href="{% url 'comments' post.pk %}">{{ post.title}}</a>
</div>

<!-- <div class="card-footer text-center text-muted">
  <a href="{% url 'edit_post' post.pk %}"</a>Edit</a>|<a href="{% url 'delete_post' post.pk %}">Delete</a>
</div> -->
</div>

      

      {% endfor %}
   
  </div>
</div>
{% endblock %}
