{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<img src="{{ object.image.url }}" alt="#" width=400, height=400>
<p><em>{{ object.created }}</em><br>{{ object.descritption }}</p>

<p><a href="{% url 'edit_post' object.id %}">Edit</a>|
  <a href="#">Delete</a>
  <p></p>Back to <a href="{% url 'home' %}">all posts</a>.</p> 


<form action="{% url 'comments' pk=object.id %}" method="POST">
  {% csrf_token %}
  {{ comment_form|crispy}}
  <input type="submit" value="Post comment" class="btn btn-primary btn-lg">
</form>

<ul>
  {% for comment in object.comment_set.all %}
  <li>
    <strong>{{ comment.author }}</strong>
            {{ comment.text }}
  </li>

  
  {% endfor %}
</ul>

</div>



{% endblock %}